* {
    box-sizing: border-box;
    border: none;
    margin: 0;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

a:hover {
    cursor: pointer;
}

.margin_center {
    margin-left: auto;
    margin-right: auto;
}

.d_block {
    display: block;
}

.d_none {
    display: none;
}

.d_flex {
    display: flex;
}

.d_flex_column {
    display: flex;
    flex-direction: column;
}

.d_flex_column_c {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.d_flex_column_c_c {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.d_flex_column_r {
    display: flex;
    flex-direction: column-reverse;
}

.d_flex_column_r_c {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.d_flex_column_r_c_c {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}

.d_flex_column_sb {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.d_flex_row {
    display: flex;
    flex-direction: row;
}

.d_flex_row_c {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.d_flex_row_c_c {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.d_flex_row_r {
    display: flex;
    flex-direction: row-reverse;
}

.d_flex_w_sa {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    ;
}

.d_flex_end_aic {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.d_flex_jcc {
    display: flex;
    justify-content: center;
}

.d_flex_aic {
    display: flex;
    align-items: center;
}

.d_flex_sa_aic {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.d_flex_sb_aic {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.d_flex_se_aic {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.d_flex_sb_c {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.d_flex_sa_c {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.d_flex_se_c {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.d_flex_c_c {
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.432);
}