* {
  box-sizing: border-box;
  border: none;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: 'Roboto', sans-serif;
}

header button {
  background-color: transparent;
  color: white;
  background-color: rgb(212, 175, 55);
  font-size: 16px;
  font-weight: 500;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.header a:hover {
  color: white;
}

footer {
  width: 100%;
}

.burger_menu {
  font-size: 30px;
  cursor: pointer;
  border: none;
  color: black;
  padding: 0 10px;
}

.margin_center {
  margin-left: auto;
  margin-right: auto;
}

.d_block {
  display: block;
}

main {
  height: 100vh;
}

a {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

.d_none {
  display: none;
}

.d_flex_column_c_c {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.d_flex_column_sb {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.d_flex_w_sa {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  ;
}

.d_flex_jcc {
  display: flex;
  justify-content: center;
}

.d_flex_sa_aic {
  display: flex;
  justify-content: space-around;
  align-items: center;
}