header,
footer {
  width: 100%;
  /* background-color: rgb(120, 150, 130); */
}

header {
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

footer {
  width: 100%;
}

.burger_menu {
  font-size: 30px;
  cursor: pointer;
  border: none;
  /* color: black; */
  padding: 0 10px;
}

.margin_center {
  margin-left: auto;
  margin-right: auto;
}

.d_block {
  display: block;
}

main {
  height: 100vh;
}

a {
  text-decoration: none;
  border-radius: 8px;
  padding: 8px 16px;
  /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
}

a:hover {
  cursor: pointer;
}

.d_none {
  display: none;
}

.d_flex_column_c_c {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.d_flex_column_sb {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.d_flex_row {
  display: flex;
  flex-direction: row;
}

.d_flex_row_c {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.d_flex_row_c_c {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.d_flex_row_r {
  display: flex;
  flex-direction: row-reverse;
}

.d_flex_w_sa {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.d_flex_end_aic {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.d_flex_jcc {
  display: flex;
  justify-content: center;
}

.d_flex_aic {
  display: flex;
  align-items: center;
}

.d_flex_sa_aic {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.d_flex_sb_aic {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.d_flex_se_aic {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.d_flex_sb_c {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.d_flex_w_sa {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  ;
}

.d_flex_jcc {
  display: flex;
  justify-content: center;
}

.d_flex_sa_aic {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
