// Global reset
* {
  box-sizing: border-box;
  border: none;
  margin: 0;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;

  &:hover {
    cursor: pointer;
  }
}

.margin_center {
  margin-left: auto;
  margin-right: auto;
}

.d_block { display: block; }
.d_none { display: none; }

// FLEX MIXIN
@mixin flex($dir: row, $jc: null, $ai: null, $wrap: null) {
  display: flex;
  flex-direction: $dir;

  @if $wrap != null {
    flex-wrap: $wrap;
  }

  @if $jc != null {
    justify-content: $jc;
  }

  @if $ai != null {
    align-items: $ai;
  }
}

// FLEX-KLASSEN
.d_flex         { @include flex(); }
.d_flex_column  { @include flex(column); }
.d_flex_column_c { @include flex(column, null, center); }
.d_flex_column_c_c { @include flex(column, center, center); }
.d_flex_column_r { @include flex(column-reverse); }
.d_flex_column_r_c { @include flex(column-reverse, null, center); }
.d_flex_column_r_c_c { @include flex(column-reverse, center, center); }

.d_flex_row     { @include flex(row); }
.d_flex_row_c   { @include flex(row, center); }
.d_flex_row_c_c { @include flex(row, center, center); }
.d_flex_row_r   { @include flex(row-reverse); }

.d_flex_w_sa  { @include flex(row, space-around, null, wrap); }
.d_flex_jcc   { @include flex(row, center); }
.d_flex-aic   { @include flex(row, null, center); }
.d_flex_sb_c  { @include flex(row, space-between, center); }
.d_flex_sa_c  { @include flex(row, space-around, center); }
.d_flex_se_c  { @include flex(row, space-evenly, center); }
.d_flex_c_c   { @include flex(row, center, center); }

// Overlay
.overlay {
  position: absolute;
  inset: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.432);
}
