/* img, icons */
:root {
  --color-white: whitesmoke;
  --color-black: #07090e;
  --color-bg: #07090e;
  --color-primary: #101622;
  --color-secondary: #1c212d;
  --color-text: #52565f;
  --color-border: #1c212d;
  --color-accent-blue: #135bec;
}

* {
  box-sizing: border-box;
  border: none;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  height: 100%;
  background-color: var(--color-bg);
  color: var(--color-text);
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  /* text-shadow: var(--color-secondary); */
}

header {
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  width: 100%;

  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;

  background-color: var(--color-primary);
}

footer {
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  width: 100%;

  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  bottom: 0;
  height: 10%;
  min-height: 80px; /* oder 60px, 100px – wie du magst */
  background-color: var(--color-primary);
  /* border-top: 1px solid var(--color-border); */
}

main {
  /* background-color: var(--color-bg); */
  display: flex;
  flex-direction: column;
  flex: 1;
}

input {
  width: 100%;
  margin-bottom: 8px;
  padding: 6px;
  border-radius: 4px;
  border: 1px solid #4b5563;
}

.burger_menu {
  font-size: 30px;
  cursor: pointer;
  border: none;
  padding: 0 10px;
}

.margin_center {
  margin-left: auto;
  margin-right: auto;
}

.d_block {
  display: block;
}

a {
  text-decoration: none;
  border-radius: 8px;
  padding: 8px 16px;
  /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
}

a:hover {
  cursor: pointer;
}

.d_none {
  display: none;
}

.d_flex_column_c_c {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.d_flex_column_sb {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.d_flex_row {
  display: flex;
  flex-direction: row;
}

.d_flex_row_c {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.d_flex_row_c_c {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.d_flex_row_r {
  display: flex;
  flex-direction: row-reverse;
}

.d_flex_w_sa {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.d_flex_end_aic {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.d_flex_jcc {
  display: flex;
  justify-content: center;
}

.d_flex_aic {
  display: flex;
  align-items: center;
}

.d_flex_sa_aic {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.d_flex_sb_aic {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.d_flex_se_aic {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.d_flex_sb_c {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.d_flex_w_sa {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.d_flex_jcc {
  display: flex;
  justify-content: center;
}

.d_flex_sa_aic {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
