* {
    color: black;
    background-color: #DAC5A1;
}

.w-550 {
    width: 550px;
}

.w-800 {
    width: 800px;
}

.team {
    gap: 48px;
}

.test-team {
    width: 200px;
    height: 300px;
    border: 2px solid yellow;
    border-radius: 10px;
    background-color: aqua;
}