.w-550 {
  width: 550px;
}

.w-800 {
  width: 800px;
}

.team {
  gap: 48px;
}

.test-team {
  width: 200px;
  height: 300px;
  /* border: 2px solid yellow; */
  border-radius: 10px;
  /* background-color: aqua; */
}

.supporters {
  padding-top: 24px;
}

/* sideNav */
.right_side_nav {
  position: absolute;
  right: 0px;
  height: 100vh;
  width: 176px;
  background-color: var(--color-secondary);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

/* .right_side_nav:not [active] {
    width: - 150px
} */

.right_side_nav a {
  /* color: black; */
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  margin: 0 4px;
}

/* .right_side_nav a:hover {
  color: white;
} */

/*Boards*/
.sidenav button {
  display: block;
  width: 100%;
  margin-bottom: 16px;
  padding: 8px 10px;
  border-radius: 6px;
  border: none;
  background: var(--color-accent-blue);
  color: var(--color-white);
  font-size: 14px;
  cursor: pointer;
}

.sidenav button:hover {
  background: #1d4ed8;
}

/* Boards und Cards */
.board {
  position: relative;
  width: 800px;
  height: 400px;
  margin: 40px auto;
  /* background: #527bce; */
  border-radius: 12px;
  box-shadow: rgb(50 50 93 / 7%) 0px 30px 60px -12px inset, #135bec29 0px 18px 36px -18px inset;
  /* border: 1px solid #d1d5db; */
  /* box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05); */
}

.card {
  position: absolute;
  /* background: #ffffff; */
  border-radius: 10px;
  padding: 16px 20px;
  /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08); */
  /* border: 1px solid #e5e7eb; */
  max-width: 260px;
  cursor: default;
  user-select: none;
}

.card h3 {
  margin: 0 0 8px;
  font-size: 16px;
  color: black;
}

.card p {
  margin: 0;
  font-size: 14px;
  color: black;
}

.label-card-input {
  font-size: 12px;
  display: block;
  margin-bottom: 4px;
}

.cardHeader{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.trashIcon{
  width: 20px;
  height: 20px;
  object-fit: cover;
  margin-bottom: 8px;
}

.trashIcon:hover{
  cursor: pointer;
  scale: calc(1.2);
  transition: 0.3s;
}